.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    font-family: "Arial", sans-serif;
    font-size: 1.5em; /* 32px */
    text-align: center;
    color: #333; /* Dark grey */
    padding: 10px 0;
    background-color: #719c8a; /* Light grey background */
    width: 60vw;
}

.main-area {
    background-color: bisque;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt {
    font-family: "Arial", sans-serif;
    font-size: 1.2em; /* 19.2px */
    color: #666; /* Medium grey */
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
}

.button-group {
    font-family: "Arial", sans-serif;
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    padding: 10px 20px;
    font-size: 1em; /* 16px */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* A darker shade of blue */
}
